Package: enigma2-plugin-extensions-seriesplugin
Version: 0.1
Description: Find and name series 
Maintainer: betonme
Homepage: 
Depends: enigma2 (>= 2.6git20091014), python-json, python-difflib, python-re, python-xml
